#husbandimg{
    width: fit-content;
    height: 30px;
}
#searchbar{
    border-radius: 20px;
}
#deleteimg{
    width: fit-content;
    height: 20px;
}
#editimg{
    width: fit-content;
    height: 20px;
}
#plusicon{
    width: fit-content;
    height: 30px;
}